!!! 5
%html(lang="eng")
  %head
    %meta(charset="utf-8" http-equiv="Content-Type" content="text/html")
    :css
      canvas { display:block; }
      canvas { background:url('/screenshot.png') }
  %body
    %p App Screen
    %canvas(width="#{@size['width']}" height="#{@size['height']}")
    %script
      var can = document.getElementsByTagName('canvas')[0];
      var ctx = can.getContext('2d');
      ctx.strokeStyle = '#f00';
      ctx.lineWidth = 3;
      ctx.lineJoin = 'round';
      - @elements.each do |el|
        ctx.strokeRect(#{el['rect']['origin']['x']},#{el['rect']['origin']['y']},#{el['rect']['size']['width']},#{el['rect']['size']['height']}); 
